@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About the Application";
    ViewData["Author"] = "by Aaron Abramson";
}
<h1>@ViewData["Title"]</h1>

<h2>@ViewData["Author"]</h2>

<p>This is a basic ASP.NET Core MVC app that incorporates the welcome page. It includes one additional controller called "InfoController" and two additional views called "About" and "Hobbies".</p>